<div data-controller="scroll-progress" style="position: fixed; top: 0; left: 0; right: 0; height: 3px; z-index: 200; background: transparent;">
  <div data-scroll-progress-target="bar" style="height: 100%; background: var(--pv-accent); width: 0%; transition: width 0.12s linear; transform-origin: left;"></div>
</div>
